#pageLoader {
  position: fixed;
  inset: 0;
  background: rgba(255,255,255,.45);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

#pageLoader.hidden{
  display:none;
}

.loader{
  width:50px;
  height:50px;
  border:5px solid #ddd;
  border-top:5px solid #2e7d32;
  border-radius:50%;
  animation:spin .8s linear infinite;
}

@keyframes spin{
  to{
    transform:rotate(360deg);
  }
}